In [6]:
import pandas as pd

demographic_data = pd.read_csv("https://assets.datacamp.com/production/repositories/1646/datasets/01054025eb094ac1086edf8d206b313b84d911c5/user_demographics_paywall.csv")
paywall_views = pd.read_csv("https://assets.datacamp.com/production/repositories/1646/datasets/2751adce60684a03d8b4132adeadab8a0b95ee56/AB_testing_exercise.csv")

demographic_data = pd.DataFrame(demographic_data)
paywall_views = pd.DataFrame(paywall_views)

# purchase_data = demographic_data.merge(paywall_views, how='inner', on=['uid'])

paywall_views.head(n=2)

# conversion_rate = (sum(purchase_data.purchase) / purchase_data.purchase.count())

# print(conversion_rate)

        uid country gender  spent  purchases        date  group device
0  11115722     MEX      F   1595          5  2016-03-08  GRP B      I
1  11122053     USA      M    498          2  2017-07-14  GRP B      I