## Python Data Types

In [ ]:
type(1)

In [ ]:
type(1.2)

In [3]:
type("Hello Chris")

In [4]:
int(2)

2

In [5]:
float(2)

2.0

In [6]:
int(3.99)

3

In [7]:
str("3.99")

'3.99'

int(True)

In [8]:
bool(1)

True

In [9]:
int(False)

0

In [10]:
bool(0)

False

## Expression & Variables

### Mathematical Operations

In [11]:
10 + 10

20

In [12]:
25/5

5.0

In [13]:
25//5

5

### Variables

In [14]:
my_variable = 1

my_variable

1

In [15]:
y = 10+10

y

20

In [16]:
y = y/6

y

3.3333333333333335

### String Operators

In [17]:
name = "Christian"

name[0] #first index
name[-1] #last index

print(name[0] + " " + name[-1])

C n

In [18]:
print("AB\nC\nDE")

AB
C
DE

In [19]:
print("AB\tC\tDE")

AB	C	DE

In [20]:
print("AB\\nC\\nDE")

AB\nC\nDE

In [21]:
A = "Christian Prasetya Kandinata"
A.upper()

'CHRISTIAN PRASETYA KANDINATA'

In [22]:
B = "Christian Prasetya Mandiri"
B.replace("Mandiri", "Kandinata")

'Christian Prasetya Kandinata'

In [23]:
C = "Christian Prasetya Kandinata"
C.find('Pras')

10

### List and Tuples

### Tuples

In [24]:
Ratings = (10, 9, 8, 7, 5, 4, 3, 2, 1)
type(Ratings)

tuple

In [25]:
Tuple1 = ("string", 10, 10.2)
Tuple1

('string', 10, 10.2)

In [26]:
Tuple1[0]
Tuple1[1]
Tuple1[2]

10.2

In [27]:
Tuple2 = Tuple1 + ("Chris", "Tian", 22)
Tuple2

('string', 10, 10.2, 'Chris', 'Tian', 22)

In [28]:
Tuple2[0:3]

('string', 10, 10.2)

In [29]:
## Tuple -> Immutable
Tuple2[0] = 2
Tuple2

TypeError: 'tuple' object does not support item assignment

In [30]:
NT = (1, 2, ("pop", "rock"), (3,4), ("disco", (1,2)))
NT[2]

('pop', 'rock')

In [31]:
NT[2][1]

'rock'

### List

In [32]:
List = ['string', 10, 10.2, 'Chris', 'Tian', 22]
List

['string', 10, 10.2, 'Chris', 'Tian', 22]

In [33]:
## List -> Mutable, change 'string' to 2 values
List[0] = 2
List

[2, 10, 10.2, 'Chris', 'Tian', 22]

In [34]:
B=[1,2,[3,'a'],[4,'b']]
B[3][1]

'b'

In [35]:
List1 = ["string", 10, 10.2]
List1

['string', 10, 10.2]

In [36]:
List1.append(["Chris", "Tian", 22])
List1

['string', 10, 10.2, ['Chris', 'Tian', 22]]

In [37]:
List3 = ["string", 10, 10.2]
List3.extend(["Chris", "Tian", 22])
List3

['string', 10, 10.2, 'Chris', 'Tian', 22]

In [38]:
del(List3[0])
List3

[10, 10.2, 'Chris', 'Tian', 22]

#### Convert String to List

In [39]:
"hard rock work".split()

['hard', 'rock', 'work']

In [41]:
"hard,rock,work,werk".split(",")

['hard', 'rock', 'work', 'werk']

In [42]:
## Clone List
List4 = List3[:]
List4

[10, 10.2, 'Chris', 'Tian', 22]

## Dictionaries

In [43]:
dict1 = {"a":1, "b":2}
dict1

{'a': 1, 'b': 2}

In [44]:
dict2 = {"Thriller":"1982", "Back in Black":"1980", "The Dark Side of the Moon":"1973", "The Bodyguard":"1992", "Bat Out of Hell":"1977"}
dict2

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977'}

In [45]:
dict2["Thriller"]

'1982'

In [46]:
del(dict2["Thriller"])
dict2

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977'}

In [47]:
dict2.keys()

dict_keys(['Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'])

In [48]:
dict2.values()

dict_values(['1980', '1973', '1992', '1977'])

### Set

In [49]:
## 1. unique elements ~ duplicate items will not be presented
## 2. ordered

Set1 = {"pop","rock","soul","hard rock","rock","R&B","rock","disco"}
Set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

### Convert List to Set

In [51]:
album_list = ["Michael Jackson", "Thriller", "Thriller", 1982]
album_set = set(album_list)
album_set

{1982, 'Michael Jackson', 'Thriller'}

In [55]:
### Set Operations
A = {"a", "b", "c", "d"}
A.add("e")
A

{'a', 'b', 'c', 'd', 'e'}

In [56]:
### Union two sets
B = {"e", "f", "g", "h", "i", "j"}
C = A & B
C

{'e'}

In [57]:
A.union(B)
A

{'a', 'b', 'c', 'd', 'e'}

## Conditions and Branching

In [60]:
1==1

True

In [61]:
2!=6

True

In [66]:
age = 18

if(age>18):
    print("you can enter")
elif(age==18):
    print("luckily, you can enter")
else:
    print("you go to other way")
print("move on")

luckily, you can enter
move on

In [67]:
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print("the album was made in the 70's or 90's")
else:
    print("the album was made in 80's")

the album was made in the 70's or 90's

In [68]:
album_year = 1990

if(album_year > 1979) and (album_year < 1990):
    print("the album was made in 80's")

## Loop

In [70]:
print(range(3))

range(0, 3)

In [71]:
print(range(10,15))

range(10, 15)

In [76]:
squares = ["red", "yellow", "green", "purple", "blue"]

for i in squares:
    print(i)

red
yellow
green
purple
blue

In [4]:
squares = ["red", "yellow", "green", "red"]

newsquares = []
i = 0

while(squares[i] == 'red'):
    newsquares.append(squares[i])
    i+=1
    
print(newsquares)

['red']

## Functions

In [8]:
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

sorted_album_rating = sorted(album_ratings)
total_album_rating = sum(album_ratings)
length_album_rating = len(album_ratings)

print(sorted_album_rating)
print(total_album_rating)
print(length_album_rating)
album_ratings.sort()

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]
70.0
8

In [9]:
def add1(a):
    b = a+1
    return b

In [10]:
add1(10)

11

In [11]:
help(add1)

Help on function add1 in module __main__:

add1(a)

In [12]:
def printStuff(Stuff):
    for i,s in enumerate(Stuff):
        print("Album", i, "Rating is ", s)
        
album_ratings = [10.0, 9.5, 8.0]
printStuff(album_ratings)

Album 0 Rating is  10.0
Album 1 Rating is  9.5
Album 2 Rating is  8.0