In [1]:
import pandas as pd

In [2]:
tickerList = pd.read_csv('https://raw.githubusercontent.com/Christiankandinata/Opensource/main/Streamlit/data/ihsg.txt')
tickerList.reset_index(drop=True, inplace=True)
tickerList.columns = ['Stocks']
df2 = {'Stocks': 'AALI.JK'}
tickerList = tickerList.append(df2, ignore_index = True)
tickerList

      Stocks
0    ABBA.JK
1    ABDA.JK
2    ABMM.JK
3    ACES.JK
4    ACST.JK
..       ...
647  YULE.JK
648  ZBRA.JK
649  ZINC.JK
650  ZONE.JK
651  AALI.JK

[652 rows x 1 columns]

In [3]:
tickerList = pd.read_csv('https://raw.githubusercontent.com/dataprofessor/s-and-p-500-companies/master/data/constituents_symbols.txt')
print(tickerList)

      ABT
0    ABBV
1    ABMD
2     ACN
3    ATVI
4    ADBE
..    ...
499   YUM
500  ZBRA
501   ZBH
502  ZION
503   ZTS

[504 rows x 1 columns]